@import 'fonts.css';
@import 'reset.css';
@import 'vars.css';
@import 'global.css';
@import 'header.css';

/* Speedometr */
.speedometer {
    font-family: 'Proto Mono Semi', sans-serif;
    margin-top: 34px;
}


.speedometer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.speedometer__thermometer{
    margin-right: 152px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.speedometer__thermometer-range{
    position: relative;
    height: 538px;
    width: 30px;
    background: #2E3C2E;
}
.speedometer__thermometer-runner{
    background: linear-gradient(0deg, #3CB14C 14.97%, #DF9300 100%);
    height: 209px;
    width: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.speedometer__thermometer-number{
    position: absolute;
    left: 45px;
    top: -18px;
    font-family: 'Proto Mono Semi';
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -2%;
}
.speedometer__thermometer-number::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: -54px;
    width: 46px;
    height: 8px;
    background: var(--color-white);
}
.speedometer__thermometer-scale{
    position: absolute;
    font-size: 16px;
    line-height: 16px;
    color: #606C70;
    letter-spacing: -2%;
    font-family: "Proto Mono Semi";
}

.speedometer__thermometer-chemical{
    font-family: "Proto Mono Semi";
    font-size: 62.35px;
    margin-bottom: 18px;
    margin-right: -25px;
}

.speedometer__thermometer-scale-1{
    bottom: 0;
    left: -18px;
}

.speedometer__thermometer-scale-2{
    bottom: 110px;
    left: -38px;
}

.speedometer__thermometer-scale-2::after{
    content: '';
    position: absolute;
    right: -37px;
    top: 50%;
    transform: translate(0, -50%);
    width: 30px;
    height: 3px;
    background: var(--color-dark-green);
}

.speedometer__thermometer-scale-3{
    bottom: 247px;
    left: -48px;
}

.speedometer__thermometer-scale-3::after{
    content: '';
    position: absolute;
    right: -36.5px;
    top: 50%;
    transform: translate(0, -50%);
    width: 30px;
    height: 3px;
    background: var(--color-dark-green);
}

.speedometer__thermometer-scale-4{
    bottom: 383px;
    left: -48px;
}

.speedometer__thermometer-scale-4::after{
    content: '';
    position: absolute;
    right: -36.5px;
    top: 50%;
    transform: translate(0, -50%);
    width: 30px;
    height: 3px;
    background: var(--color-dark-green);
}

.speedometer__thermometer-scale-5{
    left: -58px;
    top: -9px;
}

.speedometer__thermometer-scale-5::after{
    content: '';
    position: absolute;
    right: -36.5px;
    top: 63px;
    transform: translate(0, -50%);
    width: 30px;
    height: 3px;
    background: var(--color-dark-green);
}

.speedometer__speedometer {}

.speedometer__speedometer-container {
    width: 777.27px;
    height: 787px;
    position: relative;
}

.speedometer__speedometer-info {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.speedometer__speedometer-time {
    font-size: 25.95px;
    line-height: 38.92px;
    letter-spacing: -2%;
}

.speedometer__speedometer-percent {
    font-size: 140.54px;
    letter-spacing: -2%;
}

.speedometer__speedometer-chemical {
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -2%;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.speedometer__speedometer-chemical span{
    font-family: "Proto Mono Semi";
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -2%;
    color: #8DAC91;
}

.speedometer__speedometer-play {
    width: 212px;
    height: 212px;
    background: var(--color-white);
    position: absolute;
    border-radius: 50%;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.speedometer__speedometer-progress {
    position: absolute;
    left: 22px;
    top: 15px;
    transform: rotate(-225deg);
    width: 749px;
    height: 747px;
}

.speedometer__speedometer-circle {
    fill: none;
    stroke: url(#gradient1);
    stroke-width: 36px;
    stroke-dasharray: 2250;
    stroke-dashoffset: 2000;
    transform-origin: center;
    position: relative;
}

.speedometer__speedometer-cursor-wrapper{
    position: absolute;
    left: 384px;
    top: 388px;
    transform: translate(-50%, -50%);
    width: 735px;
    height: 735px;
    border-radius: 50%;
}

.speedometer__speedometer-cursor{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 7px;
    height: 367px;
    z-index: 10;
    transform: rotate(45deg);
    transform-origin: top;
}

.speedometer__speedometer-line{
    width: 5px;
    height: 50%;
}

.speedometer__speedometer-line--white{
    background: linear-gradient(360deg, #FFFFFF 23.15%, rgba(255, 255, 255, 0) 67.85%);
}

.speedometer__speedometer-scale {
    color: var(--color-light-green-2);
    font-size: 21.62px;
    line-height: 21.62px;
    position: absolute;
}

.speedometer__speedometer-scale-1 {
    bottom: 116px;
    left: 60px;
}

.speedometer__speedometer-scale-2 {
    bottom: 412px;
    left: -50px;
}

.speedometer__speedometer-scale-2::before {
    content: '';
    position: absolute;
    right: -70px;
    top: 50%;
    transform: translate(0, -50%);
    width: 60.54px;
    height: 8.65px;
    background: var(--color-dark-green);
}

.speedometer__speedometer-scale-3 {
    bottom: 667px;
    left: 60px;
}

.speedometer__speedometer-scale-3::before {
    content: '';
    position: absolute;
    left: 37px;
    top: 43px;
    transform: translate(0, -50%) rotate(45.3deg);
    width: 57.5px;
    height: 8.65px;
    background: var(--color-dark-green);
}

.speedometer__speedometer-scale-4 {
    top: -34px;
    left: 359px;
}

.speedometer__speedometer-scale-4::before {
    content: '';
    position: absolute;
    left: -8px;
    top: 58px;
    transform: rotate(90deg);
    width: 57.5px;
    height: 8.65px;
    background: var(--color-dark-green);
}

.speedometer__speedometer-scale-5 {
    top: 89px;
    right: 61px;
}

.speedometer__speedometer-scale-5::before {
    content: '';
    position: absolute;
    right: 47px;
    top: 45px;
    transform: translate(0, -50%) rotate(-45.3deg);
    width: 55.54px;
    height: 8.65px;
    background: var(--color-dark-green);
}

.speedometer__speedometer-scale-6 {
    bottom: 410px;
    right: -58px;
}

.speedometer__speedometer-scale-6::before {
    content: '';
    position: absolute;
    right: 61px;
    top: 50%;
    transform: translate(0, -50%);
    width: 58px;
    height: 8.65px;
    background: var(--color-dark-green);
}

.speedometer__speedometer-scale-7 {
    bottom: 137px;
    right: 18px;
}

.speedometer__indicators {
    margin-left: 68.87px;
}

.speedometer__indicators-item {
    margin-bottom: 56px;
}

.speedometer__indicators-item:last-child {
    margin-bottom: 0;
}

.speedometer__indicators-number {
    font-size: 62.35px;
    line-height: 62.35px;
    margin-bottom: 8px;
}

.speedometer__indicators-name {
    font-size: 24px;
    line-height: 36px;
    color: var(--color-gray);
}

/*=======================================================*/
/* Footer */
.footer {
    margin-top: -66px;
}

.footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer__button {
    color: var(--color-light-green);
    font-size: 40px;
    line-height: 60px;
    letter-spacing: -2%;
    padding: 30px 123px;
}

.footer__button--green {
    color: var(--color-white);
    background: var(--color-light-green);
    -webkit-clip-path: polygon(18% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(18% 0, 100% 0, 100% 100%, 0% 100%);
}