@import 'fonts.css';
@import 'reset.css';
@import 'vars.css';

html, body{
    height: 100%;
}

body{
    font-family: 'Proto Mono', sans-serif;
    color: var(--color-white);
}

.wrapper{
    background: radial-gradient(50% 50% at 45.46% 50%, #09310F 0%, #161616 100%), linear-gradient(0deg, #EBFFEE, #EBFFEE);
    min-height: 100%;
}

/* Header */
.header{

}
.header__container{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__button{
    padding: 30px 40px;
    background: var(--color-green);
}
.header__button-content{
    display: flex;
    align-items: center;
}
.header__button-text{
    font-size: 40px;
    line-height: 60px;
    margin-right: 12px;
}
.header__button-icon{
}
.header__nav{
    display: flex;
    align-items: center;
}
.header__nav-list{
    display: flex;
    align-items: center;
}
.header__nav-time{
    margin-right: 225px;
    font-size: 32px;
    line-height: 48px;
}
.header__nav-item{
    margin-right: 80px;
}
.header__nav-item:first-child{
    display: none;
}
.header__nav-item:last-child{
    margin-right: 40px;
}
.header__nav-icon{

}
.header__nav-language{
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -2%;
}
/*=======================================================*/
/* Speedometr */
.speedometr{
    font-family: 'Proto Mono Semi', sans-serif;
    margin-top: 59px;
}
.speedometr__container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.speedometr__characteristics{
    margin-right: 95.36px;
}
.speedometr__characteristics-item{

}
.speedometr__characteristics-item:first-child{
    margin-bottom: 80px;
}
.speedometr__characteristics-name{
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -2%;
    color: var(--color-gray);
    margin-bottom: 8px;
}
.speedometr__characteristics-number{
    font-size: 62.35px;
    line-height: 62.35px;
    letter-spacing: -2%;
}
.speedometr__characteristics-measure{
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -2%;
    color: var(--color-gray);
    margin-top: 5px;
}
.speedometr__speedometr{

}
.speedometr__indicators{
    margin-left: 68.87px;
}
.speedometr__indicators-item{
    margin-bottom: 80px;
}
.speedometr__indicators-item:last-child{
    margin-bottom: 0;
}
.speedometr__indicators-number{
    font-size: 62.35px;
    line-height: 62.35px;
    margin-bottom: 8px;
}
.speedometr__indicators-name{
    font-size: 24px;
    line-height: 36px;
    color: var(--color-gray);
}
/*=======================================================*/